# symfony/framework-bundle
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/bin/
/data/*.sqlite
/var/
/vendor/

# symfony/phpunit-bridge
.phpunit
.phpunit.result.cache
/phpunit.xml

# Netbeans
/nbproject/

# phpunit/phpunit
/phpunit.xml
.phpunit.result.cache

# Composer PHAR
/composer.phar
